{% extends 'HealthTracker/base.html' %}

{% block content %}
  <div class="container my-5">
    <a href="{% url 'workout-tracker' %}" class="btn btn-primary mb-4">Back</a>
    <h1 class="text-center mb-4">Your Workouts</h1>

    <div class="row justify-content-center">
      {% for workout in workouts %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card h-100 shadow">
            <div class="card-body">
              <h5 class="card-title text-center mb-3">{{ workout.activity_type }}</h5>
              <p class="card-text mb-2"><strong>Date:</strong> {{ workout.date }}</p>
              <p class="card-text mb-2"><strong>Duration:</strong> {{ workout.get_formatted_duration }}</p>
              <p class="card-text mb-2"><strong>Miles:</strong> {{ workout.miles }}</p>
              <p class="card-text mb-2"><strong>Kilometers:</strong> {{ workout.kilometers }}</p>
              <p class="card-text mb-2"><strong>Rest Periods:</strong> {{ workout.rest_periods }}</p>
              <p class="card-text mb-2"><strong>Sets:</strong> {{ workout.sets }}</p>
              <p class="card-text mb-2"><strong>Reps:</strong> {{ workout.reps }}</p>
              <p class="card-text mb-2"><strong>Calories Burned:</strong> {{ workout.calories_burned }}</p>
              <p class="card-text mb-2"><strong>Notes:</strong> {{ workout.notes }}</p>
              <p class="card-text mb-0"><strong>Rating:</strong> {{ workout.rating }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}