{% extends 'HealthTracker/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white text-center">
                    <h2 class="mb-0">Access Forbidden</h2>
                </div>
                <div class="card-body text-center">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}