{% extends 'HealthTracker/base.html' %}

{% load static %}

{% block content %}
<a href="{% url 'user_home' %}" class="btn btn-primary my-2">Back</a>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2>Workout Tracker</h2>
                </div>
                <div class="card-body">
                    <a href="{% url 'record-workout' %}" class="btn btn-outline-primary">Record Workout</a>
                    <a href="{% url 'display-workout' %}" class="btn btn-outline-primary">View Workouts</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="text-center">
        <img src="{% static 'HealthTracker/images/spongelifter.jpg' %}" alt="Spongebob Is Ripped" class="img-fluid mb-3 bigger-image">
    </div>
</div>
{% endblock %}