{% extends 'HealthTracker/base.html' %}

{% block content %}
<style>
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}
</style>

<h2 style="text-align: center;">Register</h2>
<div class="container">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                </div>
                <div class="form-group">
                    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>
                </div>
                <button class="btn" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
